.texto1{
    color:white;
}

.datos{
    color:white;
    padding-bottom: 10px;
}
.contacto-forma{
    width: 100%;
    padding: 12px 20px;
    margin: 25px 0;
    box-sizing: border-box;
    background-color: #000e38;
    background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */}

.contacto-forma .datos{
    margin: 20px;
}
