.App {
  text-align: center;
  background-color: #192737;
}

.App-barra {
  size:auto;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: .5; /* Firefox */
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-top: 45px;
  display: block;
  padding: 1px;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  border-color:#00acee;
  color: #00acee;
}

.App-intro{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 25px;
}

.App-intro .Intro{
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10%;
  background: #1F1C2C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo{
  height: 41px;
  width: 316px;
}

.logoCentrado {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
}

.valores .texto{
    padding: 10px;
}

.App-valores{  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 25px;
  margin-top: 25px;
}

.imagenM{
  width: 433.5px;
  height: 233px;
  border-radius: 25px;
}


.imagenV{
  width: 433.5px;
  height: 233px;
  border-radius: 25px;
}

.valores{
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #00acee;
  margin: 25px;
  border-radius: 25px;
} 

.App-proyectos{
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin-left: 150px;
  margin-right: 150px;
}

.App-intro .tarjeta{
  border: blue;
  border-radius: 5%;
}

.App-cv{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Load{
  margin-left: 50px;
}

.Face{
  display: flex;
  height: 273px;
  width: 298px;
  border-radius: 25%;
}

@media screen and (max-width: 1000px){
  .App-proyectos{
    flex-direction: column;
    width: auto;
    font-size: small;
    margin: 0px;
    padding: 0px;
  }

  .App-valores{
    transform: scale(0.8);
  }
}

@media screen and (max-width: 615px){

  .App-header{
    margin-top: 35px;
  }
  .App-intro {
    display: block;
    width: auto;
  }
  
  .App-intro .texto{
    padding: 15px;
  }

  .Load{
    display: block;
    margin-left: 150px;
  }

  .Face{
    transform: scale(0.8);
  }
  
  .valores{
  transform: scale(0.9);
  }
/* 
  .imagenM{
    transform: scale(0.8);
  }
  
  .imagenV{
    transform: scale(0.8);
  } */
  .App-valores{
    flex-direction: column;
    margin-top: -20px;
    margin-bottom: -50px;
  }
/* 
  .App-valoresM{
    transform: scale(0.8);
    display: block;
  }

  .App-valoresV{
  transform: scale(0.8);
  display: block;
  } */
/* 
  .App-intro .tarjeta{
    align-items: center;
    display: block;
    margin: auto;
    width: auto;
    padding-left: 25%;
    padding-right: 25%;
    border-radius: 0%;
  } */

  .contenedor-proyectos{
    margin-bottom: 20px;
  }
  
  .App-cv{
    size: auto;
    font-size: small;
    transform: scale(0.8);
    margin-top: -50px;
    margin-bottom: -50px;
  }

  .App-contacto{
    font-size: small;
  }

  .texto1{
  font-size: small;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 15px;
  }
  .texto{
    font-size:xx-small;
    margin-left: 5px;
    margin-right: 5px;
    }
  .mensaje{
    width: 200px;
  }
}


@media screen and (max-width: 415px){
  .logo{
    transform: scale(0.5);
  }

  .Load{
    margin-left: 55px;
  }

  .App-valores{
    margin-top: -50px;
    margin-bottom: -100px;
  }

  .contenedor-proyectos{
    margin-bottom: 100px;
  }

  .App-proyectos{
    transform: scale(0.8);
    margin-top: -50px;
    margin-bottom: -180px;
  }
  
  .App-cv{
    transform: scale(0.5);
    margin-top: -180px;
    margin-bottom: -180px;
  }

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App.barra.btnBarra{
  margin: 5px;
}